/* Nav primera pre entrega
.container{
 background-color: rgb(18, 73, 112);   
} */

.nav-container {
  /*container*/
  position: sticky;
  z-index: 3;
  top: 0;
}

.navbar {
  /*Navbar*/
  display: flex;
  justify-content: space-between;
  height: 12vh;
  background-color: #1b1b1b;
}

.navbar-logo {
  justify-self: start;
  margin-left: 20px;
  color: #fff;
  margin-top: 4vh;
  cursor: pointer;
}

.options {
  margin-right: 25px;
}

.ver-carrito {
  font-size: 25px;
  margin-right: 20px;
  cursor: pointer;
}
